{% extends "base.html" %}

{% block content %}
    <h1>Доступные товары:</h1>
    <hr>
    {% for item in items %}
    <p>
    {{ item.name}} <br>
    Описание: {{ item.description }}<br>
    Категория: {{ item.category }}<br>
    Цена: <b>{{ item.price }}</b><br>
    Количество: {{ item.quantities }}<br>
    </p>
    {% endfor %}
    {% if prev_url %}
    <a href="{{ prev_url }}">Предыдущая страница</a>
    {% endif %}
    {% if next_url %}
    <a href="{{ next_url }}">Следующая страница</a>
    {% endif %}
{% endblock %}